@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .bg-gradient {
    background: radial-gradient(
      124.13% 115.99% at 45.38% 46.37%,
      rgba(255, 255, 255, 0.05) 0%,
      rgba(255, 255, 255, 0.6) 100%
    );
    border-radius: 1rem;
    border: 1.5px solid #fff;
    backdrop-filter: blur(2.5px);
  }
  .bg-gradient-dark {
    border: 1.5px solid #fff;
    background: radial-gradient(
      158.99% 151.91% at 40.83% 44.78%,
      rgba(255, 255, 255, 0.39) 0%,
      rgba(255, 255, 255, 0.6) 100%
    );
    backdrop-filter: blur(2.5px);
  }
  .bg-gradient-lisence {
    background: radial-gradient(
      124.13% 115.99% at 45.38% 46.37%,
      rgba(255, 255, 255, 0.05) 0%,
      rgba(255, 255, 255, 0.6) 100%
    );
    backdrop-filter: blur(2.5px);
  }

  .bg-gradient-box {
    background: linear-gradient(116deg, #06141c 0%, #0a1c25 100.98%), #fff;
  }
  .bg-card {
    background: #081821;
    background: radial-gradient(
          circle at 100% 100%,
          #081821 0,
          #081821 7px,
          transparent 7px
        )
        0% 0%/8px 8px no-repeat,
      radial-gradient(circle at 0 100%, #081821 0, #081821 7px, transparent 7px)
        100% 0%/8px 8px no-repeat,
      radial-gradient(circle at 100% 0, #081821 0, #081821 7px, transparent 7px)
        0% 100%/8px 8px no-repeat,
      radial-gradient(circle at 0 0, #081821 0, #081821 7px, transparent 7px)
        100% 100%/8px 8px no-repeat,
      linear-gradient(#081821, #081821) 50% 50% / calc(100% - 2px)
        calc(100% - 16px) no-repeat,
      linear-gradient(#081821, #081821) 50% 50% / calc(100% - 16px)
        calc(100% - 2px) no-repeat,
      linear-gradient(1deg, rgba(136, 235, 251, 0) 0%, #88ebfb 60%);
    border-radius: 8px;
    box-sizing: border-box;
  }
  .inner-bg {
    border: 2px solid #fffdfd;
    background: radial-gradient(
      124.13% 115.99% at 45.38% 46.37%,
      rgba(255, 255, 255, 0.05) 0%,
      rgba(255, 255, 255, 0.6) 100%
    );
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.04);
  }
  .bg-hover {
    background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0) -5.47%,
      #fff 42.29%
    );
  }
  .bg-small {
    border: 0.12px solid #fff;
    background: linear-gradient(
      95deg,
      rgba(255, 255, 255, 0.45) -24.68%,
      rgba(255, 255, 255, 0.36) 122.91%
    );
    backdrop-filter: blur(6.9984002113342285px);
  }
}

.swiper-pagination-bullet {
  background-color: rgba(136, 235, 251, 0.8) !important;
}
